

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

body {
	font-family: 'Roboto';
}

.navBar {
	display: inline-block;
	background-color: #99CB38;
	width: 100%;
	min-height: 65px;

	/* Shadow, use this as a standard under components that should "lift" */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navBar ul {
	color: white;
	float: right;
	line-height: 65px;
	margin-right: 12px;
	margin-bottom: 0px;
}

.navBar li {
	display: inline;
}

.navBar a {
	color: white;
	text-decoration: none;
	margin-right: 12px;
}

.navBar .logoAndTitle {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.navBar .logoAndTitle h1 {
	color: white;
	font-size: 25px;
	line-height: 65px;
	margin-bottom: 0px;
	font-weight: 300;
	display: inline-block;
	float: inherit;
}

.navBar .logoAndTitle img {
	height: 65px;
	margin-right: 12px;
	vertical-align: middle;
	display: inline-block;
	float: inherit;
}

div.contact {
	
}
