

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

body {
	font-family: 'Roboto';
}

/* Utility elements */
.shadow { /* use this to add a shadow to components */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.underNav {
	padding-top: 130px;
}


/* Navigation bar (TOP OF SCREEN) */
.navBar {
	background-color: #99CB38;
	width: 100%;
	min-height: 65px;
	position: fixed;
	z-index: 100; /* To always have navBar on top */
}

.navBar .logoAndTitle {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.navBar .logoAndTitle h1 {
	color: white;
	font-size: 25px;
	line-height: 65px;
	margin-bottom: 0px;
	font-weight: 300;
	display: inline-block;
	float: inherit;
}

.navBar .logoAndTitle img {
	height: 65px;
	margin-right: 12px;
	vertical-align: middle;
	display: inline-block;
	float: inherit;
}

.navBar a {
	color: white;
	text-decoration: none;
	margin-right: 12px;
}

.navItemsList {
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.navItemsList ul {
	color: white;
	display: inline-block;
	line-height: 65px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 12px;
}

.navItemsList li {
	display: inline;
}


/* HOMEPAGE */
.bigImage {
	min-width: auto;
	height: 325px;
	overflow: hidden;
}

.bigImage .overflowImage {
	background-image: url(../img/wok.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	min-height: 100%;
	min-width: 100%;
}

/* bigImage sizes */
@media (min-width: 487px) {
	.bigImage .overflowImage {
		background-size: 100% auto;
	}
}
@media (min-width: 550px) {
	.navItemsList {
		display: inline-block;
		width: auto;
		float: right;
	}
	.underNav {
		padding-top: 65px;
	}
}
@media (min-width: 600px) {
	.bigImage {
		height: 400px;
	}
}
@media (min-width: 750px) {
	.bigImage {
		height: 500px;
	}
}
@media (min-width: 900px) {
	.bigImage {
		height: 600px;
	}
}
@media (min-width: 1050px) {
	.bigImage {
		height: 700px;
	}
}

.formDiv {
	position: relative;
	background-color: rgba(255, 255, 255, 0.95);
	vertical-align: middle;
	margin-right: -24px;
	margin-left: -24px;
	border-radius: 4px;
}

.formDiv form {
	padding: 24px;
	margin: 0px;
}

.searchBar {
	border-radius: 4px;
	height: 50px;
	margin-bottom: 24px;
}

input[type="text"].searchText {
	border-radius: 0px;
	border: 0px;
	border-bottom: 4px solid #99CB38;
	height: 100%;
	margin: 0px;
	margin-right: 24px;
	width: calc(100% - 74px);
	font-size: 32px;
	background-color: rgba(255, 255, 255, 0.0);
}


input[type="submit"].searchButton {
	border-radius: 0px;
	border: 0px;
	border-radius: 4px;
	background-color: #99CB38;
	color: white;
	height: 50px;
	width: 50px;
	padding: 0px;
	margin: 0px;
	float: right;
}